  
    header{
        position: sticky;
        top: 0;
        display: flex;
        background-color: greenyellow;
        justify-content: space-between;
        box-shadow: 0 0 0 0;
        border-top: 15px solid  rgb(240, 16, 0) ;
    }

    #logo img{
        padding: 10px;
        width: 200px;
        height: auto;
    }